<%- include("partials/header") -%>

<div class="row">
  <div class="col sm-12">
<div class="container2">
  <%- include("partials/messages") -%>

  <table class="table table-bordered" id="dataTable">
    <thead>
      <th>Name</th>
      <th>Designation</th>
      <th>Salary</th>
      <th>Class</th>
      <th>Email</th>
      <th>Operation</th>
    </thead>
    <tfoot>
      <th>Name</th>
      <th>Designation</th>
      <th>Salary</th>
      <th>Class</th>
      <th>Email</th>
      <th>Operation</th>
    </tfoot>
    <tbody>

      <% employees.forEach((employee) => { %>
      <tr>
        <td><%= employee.user.username %></td>
        <td><%= employee.designation %></td>
        <td>Ghc<%= employee.salary %></td>
        <td><%= employee.class %></td>
        <td><%= employee.user.email %></td>
        <td>
          <a class='btn btn-success' href="/edit/<%= employee.id %>">Edit</a>

          <form style="display : inline;" action="/delete/<%= employee.id %>?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="delete">
            <button style="cursor : pointer;" type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      <% }) %>


    </tbody>
  </table>
</div>
</div>
</div>

<%- include("partials/footer") -%>